<div class="text-center ">
  <%= image_tag 'RailsRentals-logos_transparent.png', width: "500", height: "500" %>
</div>

<p>
  <%= Faker::Lorem.paragraph(random_sentences_to_add: 25) %>
  <%= Faker::Lorem.paragraph(random_sentences_to_add: 25) %>
  <%= Faker::Lorem.paragraph(random_sentences_to_add: 25) %>
</p>